
@media screen and (min-width: 575px) {

    .ofertas__imagen{
        width: 25vh;
        height: 25vh;
        margin: 20px;
        transition-duration: 0.5s;
    }  
    
    .ofertas__imagen:hover{
        width: 28vh;
        height: 28vh; 
    }

    .ofertas__titulo{
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 768px) {

iframe {
    width: 220px;
    height: 180px;
}

.ofertas__titulo{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

.ofertas__imagen{
    width: 35vh;
    height: 35vh;
    margin: 20px;
    transition-duration: 0.5s;
}

.ofertas__imagen:hover{
    width: 39vh;
    height: 39vh;
}

.logo {
    width: 180px;
    height: 120px;
}

.menu__items{
    font-size: 1.2rem;
}

.ubicacion {
    justify-content: space-around;
}

.ubicacion__texto{
    font-size: 1rem;
}

.titulo__suscripcion{
    font-size: 2rem;
    margin-bottom: 20px ;
}

.bi-geo-alt{
    font-size: 35px;
}

.correo {
    height: 80px;
    justify-content: center;
    align-items: center;
}

.correo__destacado{
    width: 290px;
    height: 25px;
}

.titulo__modificado{
    font-size: 1.1rem ;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;

}

.bton{
    width: 100px;
    font-size: 1.2rem;
    border-radius: 30px;
    height: 33px;
}

.iconos{
    height: 80px;
    justify-content: space-around;
    
}
.bi-instagram{
    font-size: 2.5rem;
}

.bi-facebook{
    font-size: 2.5rem;
}

.bi-whatsapp{
    font-size: 2.5rem;
}

.copyright{
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {

.logo{
    width: 440px;
    height: 120px;
}

.bi-list{
    color: black;
    border: solid 1px black;
    font-size: 35px;
}

.titulo{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    background-color: black;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;;
}

.ofertas__titulo{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.ofertas__precioO{
    color:white;
    text-align: center;
    font-size: 1.7rem;
}

.ofertas__imagen{
    width: 40vh;
    height: 40vh;
    margin: 20px;
    transition-duration: 0.3s;
}

.ofertas__imagen:hover{
        width: 44vh;
        height: 44vh;
}

.titulo__suscripcion{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    background-color: black;
    padding-top: 30px;
    font-family: 'Shadows Into Light', cursive;;
}

.ubicacion__texto{
    font-size: 1.2rem;
    padding: 6px;
}

.bi-geo-alt{
    font-size: 40px;
}

.correo__destacado{
    width: 450px;
    height: 35px;
    background-color: gray;
    border: 1px grey solid;
    color:white;
    padding-left: 3px;
    margin: 10px;
}
.titulo__modificado{
    color: whitesmoke;
    text-align: start;
    font-size: 1.5rem;
    background-color: black;
    padding: 20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bton {
    background-color: rgba(0, 0, 0, 0.877);
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 2px;
    color: white;
    font-size: 1.3rem;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 70px;
}

.terminos__texto{
    font-size: 1.2rem;
}

.lista__parrafo{
    margin-bottom: 60px;
    font-size: 1.3rem;
}

.bi-instagram{
    font-size: 3rem;
}

.bi-facebook{
    font-size: 3rem;
}

.bi-whatsapp{
    font-size: 3rem;
}
}
}

/*# sourceMappingURL=styles.css.map */
