
.texto {
    color: black;
    font-weight: 200;
    margin-left: 40px;
        &__pregunta {
            color: $color-primario;
            font-weight: 700;
            margin-top: 30px;
            margin-left: 20px;
        }
}

.bi-paypal{
    display: inline-block;
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
}

.tarjeta{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
        &__mastercard{
            width: 80px;
            height: 55px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__visa{
            width: 80px;
            height: 55px;
            margin-left: 20px;
            margin-right: 20px;
        }

}

