
iframe {
    width: 220px;
    height: 220px;
}

.titulo {
    color: $color-secundario;
    font-weight: 200;
    text-align: center;
    font-size: 2.5rem;
    background-color: $color-primario;
    padding: 10px;
    margin: 0px;
    font-family: $fuente;
    
        &__ubicacion{
            color: $color-primario;
            text-align: center;
            font-size: 2rem;
            background-color: $color-secundario;
            padding: 10px;
            font-weight: 200;
            margin-bottom: 10px;
            font-family: $fuente;
        }

        &__suscripcion{
            color: $color-secundario;
            text-align: center;
            font-size: 2rem;
            background-color: $color-primario;
            margin-bottom: 0px;
            padding: 10px;
            font-weight: 200;
            font-family: $fuente;
        }

        &__modificado{
            color: $color-secundario;
            text-align: start;
            font-size: 1.2rem;
            background-color: $color-primario;
            padding: 20px;
            font-weight: 200;
        }
}

.ofertas{
    color: $color-secundario;
    text-align: center;
    font-size: 1.2rem;
    
        &__precioN{
            text-align: center;
            margin: 0px;
            color: rgba(255, 255, 255, 0.267)
        }

        &__precioO{
            color: $color-secundario;
            text-align: center;
            font-size: 1.4rem;
        }

        &__imagen{
            width: 20vh;
            height: 20vh;
            margin: 20px;
            transition-duration: 0.5s;
                &:hover{
                    width: 24vh;
                    height: 24vh;
                }
        }
}

.ubicacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    
        &__direccion{
            display: flex;
            flex-direction: column wrap;
            justify-content: center;
            align-items: center;
        }

        &__texto{
            font-size: 0.8rem;
            padding: 6px;
        }
}

.bi-geo-alt{
    font-size: 40px;
}

@media screen and (min-width: 575px) {
    
    .ofertas{
        font-size: 1.3rem;

        &__imagen{
            width: 25vh;
            height: 25vh;
            margin: 20px;
            transition-duration: 0.5s;
            &:hover{
                width: 28vh;
                height: 28vh; 
            }
        }
    }

    .titulo{
        
        &__ubicacionP{
            font-size: 2rem;
        }
    }

@media screen and (min-width: 768px){
    
    iframe {
        width: 260px;
        height: 260px;
    }

    .ofertas{
        font-size: 1.8rem;

        &__imagen{
            width: 35vh;
            height: 35vh;
            margin: 20px;
            transition-duration: 0.5s;
            &:hover{
                width: 39vh;
                height: 39vh;
            }
        }
    }

    .ubicacion {
        justify-content: space-around;

        &__texto{
            font-size: 1rem;
        }
    }

    .titulo{

        &__suscripcion{
            font-size: 2rem;
        }

        &__modificado{
            font-size: 1.1rem ;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .bi-geo-alt{
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px) {

    iframe {
        width: 300px;
        height: 260px;
    }

    .titulo{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
        background-color: black;
        padding: 10px;
        font-family: 'Shadows Into Light', cursive;;

        &__ubicacion{
            font-size: 2.5rem;
        }

        &__suscripcion{
            color: white;
            text-align: center;
            font-size: 2.5rem;
            background-color: black;
            padding-top: 30px;
            font-family: 'Shadows Into Light', cursive;;
        }

        &__modificado{
            color: whitesmoke;
            text-align: start;
            font-size: 1.5rem;
            background-color: black;
            padding: 20px;
            font-weight: 200;
        }
    }

    .ofertas{

        font-size: 2rem;

        &__precioO{
            color:white;
            text-align: center;
            font-size: 1.7rem;
        }

        &__imagen{
            width: 40vh;
            height: 40vh;
            margin: 20px;
            transition-duration: 0.3s;

            &:hover{
                width: 44vh;
                height: 44vh;
            }
        }
    }

    .ubicacion{

        &__texto{
            font-size: 1.2rem;
            padding: 6px;
        }
    }

    .bi-geo-alt{
        font-size: 40px;
    }

}
}
