footer {
    text-align: center;
    font-size: 0, 1rem;
    margin-top: 50px;
}

.terminos{
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
        &__texto{
            font-size: 1rem;
        }
}

.iconos{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bi-instagram{
    font-size: 1.8rem;
}

.bi-facebook{
    font-size: 1.8rem;
}

.bi-whatsapp{
    font-size: 1.8rem;
}

.copyright{
    text-align: start;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .iconos{
        height: 80px;
        justify-content: space-around;
        
    }
    .bi-instagram{
        font-size: 2.5rem;
    }
    
    .bi-facebook{
        font-size: 2.5rem;
    }
    
    .bi-whatsapp{
        font-size: 2.5rem;
    }
    
    .copyright{
        font-size: 1.5rem;
    }


@media screen and (min-width: 1024px) {
    
    .terminos{

        &__texto{
            font-size: 1.2rem;
        }
    }

    .bi-instagram{
        font-size: 3rem;
    }
    
    .bi-facebook{
        font-size: 3rem;
    }
    
    .bi-whatsapp{
        font-size: 3rem;
    }
}

}
