.formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

        &__cajas{
            color: $color-primario;
            background-color: rgba(128, 128, 128, 0.452);
            width: 350px;
        }


}

